# Practice_Part_01: Data Structure's

### Exercise_01
1. Create a Series objects using NumPy's linspace and random functions.

In [ ]:
# Hint: use NumPy's linspace and random.rand functions

### Exercise_02
1. Create a Series using a list of elements.

In [ ]:
# Hint: use any integer or floating point numbers to create a list or String values to create a string list

### Exercise_03
1. For the data given below, get the index and values after forming a Series object.

In [ ]:
""" 
Here is the dictionary data you can used to form a Series

Data = {"India": "New Delhi", "Japan": "Tokyo", "UK": "London"} 
"""

### Exercise_04 
1. Create a Series using a range of 10 values and specify the index explicitly. Use capital alphabets to index explicitly.

### Exercise_05
1. For the Exercise_04, find the 'Shape' and 'Size' of the Series created

### Exercise_06 
Slice the values of Series created for Exercise_04. 
* (a). Slice from 4th index upto the end with step size 3
* (b). Slice the entire Series in reverse order 
* (c). Slice the entire Series with step size 2

### Exercise_07
1. Convert the Series object values created for Exercise_04 back into the list of values.

In [ ]:
# Hint: you can use 'tolist()' method

### Exercise_08
1. For the data given below, Construct a Series and add data=[500, 600, 700] to the existing Series.

In [ ]:
""" data = ['25', '50', 100', '200', '300', '400']
"""

In [ ]:
# Hint: you can choose the 'append' method to join the series to the existing series.

### Exercise_09
For the Series created in Exercise_08, get the subset of Series for the condition given below.
* condtion = 'values greater than or equal to 100"

In [ ]:
# Hint: use the 'to_numeric' method to convert the string values of Series to numeric values before applying the numeric condition.

### Exercise_10
1. For the data given below constuct a Pandas DataFrame object. Use labels data to set the index of the DataFrame. After creating the DataFrame display the summary of the basic information.

In [ ]:
# Data is given below inside the """ """. 
"""
exam_data  = {'name': ['Arun', 'Rama', 'Kantharaj', 'James', 'Emily', 'Michael', 
                       'Matthew', 'Laura', 'Kevin', 'Jonas'], 
              'score': [12, 10, 17, np.nan, 9, 30, 15, np.nan, 8, 19], 
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
              'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
              
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] 
"""

### Exercise_11
1. Find the names of the people who has scored greater than 12 in Exercise_10
2. Separate the people with score and without any score for the Exercise_10

### Exercise_12
1. Find the participants who qualify the test and who didn't qualify the test in Exercise_10

### Exercise_13
1. For the Exercise_10, separete the columns without score and form a separate DataFrame.

### Exercise_14
1. For the Exercise_10, find the number of participants who has done only the first attempt.

### Exercise_15
1. For the Exercise_10 separate the column score and find the top score