# Practice_Part_02:  Data Indexing and Selection

#### Exercise_01
1. For the data set given below construct the DataFrame object
2. Get the first four rows of a DataFrame using indexing method

In [ ]:
exam_data  = {'name': ['Anjum', 'Anali', 'Souria', 'Rockea', 'Imani', 'Mouliya', 'Julie', 'Rana', 'Kavin', 'Bosia'], 
              'score': [15.5, 9, 16.5, np.nan, 9, 30, 17.5, np.nan, 8, 20], 
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
              'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

#### Exercise_02
For the DataFrame created in Exercise_01;
1. Select the columns 'score' and 'attempts' in rows 1, 3, 5, 7
2. Count the number of rows and columns without shape attribute
3. Select the rows where the score is between 16 and 20
4. select the rows where number of attempts in the examination is less than 2 and score greater than 16

#### Exercise_03
For the DataFrame created in Exercise_01;
1. Change the score of rows 'C' and 'I' to 16 
2. Calculate the sum of the examination attempts by the students
3. Add new row with the details name : ‘Rupali’, score: 16, attempts: 2, qualify: ‘yes’, label: ‘L’. After adding the new row display it and remove it to maintain the original DataFrame.
4. Remove the last 4 rows and save it as a new DataFrame.