# Pracice_Part_04: Data Handling Solution

#### Exercise_01 Solution
For the titanic data set provided:
1. Read the data using pandas read_csv method and count the number of rows and columns
2. Display the column names using column attribute and convert the array of columns to list
3. Read the first and last 10 rows using default file displaying methods
4. Get the information about the data and count the total number of missing values in each column

1. Read the data using pandas read_csv method and count the number of rows and columns

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
titanic_data = pd.read_csv('data/titanic/original_titanic.csv')
titanic_data

In [ ]:
# There are 1309 rows and 14 columns present in original_titanic data set

data = pd.DataFrame(data=titanic_data)
data
print(type(titanic_data))
print(type(data))

2. Display the column names using columns attribute and convert the array of columns to list

In [ ]:
titanic_data.columns.values

In [ ]:
titanic_data.columns.values.tolist()

3. Read the first and last 10 rows using default file displaying methods

In [ ]:
titanic_data.head(n=10)

In [ ]:
titanic_data.tail(n=10)

4. Get the information about the data and count the total number of missing values in each column

In [ ]:
titanic_data.info()

In [ ]:
titanic_data.isnull().sum()

In [ ]:
print('Sum of the missing and non-missing values:\n')
print(1046 + 263); print(295+1014); print(823+486); print(1188+121); print(564+745)

#### Exercise_02 Solution
For the data read in Exercise_01:
1. Describe the data using pandas usual method and guess the percentage of survived with age
2. Display the data with respect to sex, and count the number of male and female passangers in the ship
3. Find the total number of passengers whose age is greater than and or equal to 50, and also less than 50
4. Count the total number of passengers who survived in the risk, and the total male and female passengers survived
5. Export the data into a modified1_titanic csv file by removing the columns ['name','parch','ticket', 'cabin', 'boat','body', 'home.dest']

1. Describe the data using pandas usual method and guess the percentage of survived with age

In [ ]:
titanic_data.describe()

2. Display the data with respect to sex, and count the number of male and female passangers in the ship

In [ ]:
male = titanic_data[titanic_data['sex']=='male']
male

In [ ]:
# use 'value_counts' method to count the male and female passengers
titanic_data['sex'].value_counts()

3. Find the total number of passengers whose age is greater than and or equal to 50, and also less than 50

In [ ]:
# use the conditional indexing (also known as fancy indexing) method

In [ ]:
len(titanic_data[titanic_data['age'] <= 50])

In [ ]:
len(titanic_data[titanic_data['age'] > 50])

In [ ]:
# you can easily cross check the result
print(1309 - (951+95))

4. Count the total number of passengers who survived in the risk, and the total male and female passengers survived

In [ ]:
# use the indexing method to select the 'survived' column and apply 'value_counts' method on it 
titanic_data['survived'].value_counts()

In [ ]:
print(500/1309)

In [ ]:
# use fancy indexing to apply multiple condtions at once for 'survived' and 'sex'. here for 'survived' use '1' instead of '0'
# '0' means not 'survived'

In [ ]:
len(titanic_data[(titanic_data['survived'] ==1) & (titanic_data['sex'] == 'male')])

In [ ]:
len(titanic_data[(titanic_data['survived'] ==1) & (titanic_data['sex'] == 'female')])

5. Export the data into a modified1_titanic csv file by removing the columns ['name','parch','ticket', 'cabin', 'boat','body', 'home.dest']

In [ ]:
# in order to remove the columns mentioned, first display the columns to check the presense of columns

In [ ]:
titanic_data.columns.values

In [ ]:
# use 'to_csv' method to export the selected columns from the original DataFrame object

In [ ]:
titanic_data.to_csv('data/titanic/modified1_titanic.csv', index=False, 
                    columns=['pclass', 'survived', 'sex', 'age', 'sibsp', 'fare', 'embarked'])

In [ ]:
#!type data\titanic\modified1_titanic.csv

In [ ]:
data = pd.DataFrame(data = pd.read_csv("data/titanic/modified1_titanic.csv"))
data

#### Exercise_03 Solution
1. Read the file using Python's csv module and convert it into a iterable DataFrame object
2. Read the data in the first column of the DataFrame object using Python's way of reading the iterable object

1. Read the file using Python's csv module and convert it into a iterable DataFrame object

In [ ]:
# please follow the instructions given in the coding part

In [ ]:
# import the module csv 
import csv 
import pandas as pd 
   
# open the csv file 
with open(r"data\nba.csv") as csv_file:  
      
    # read the csv file using csv.reader 
    csv_reader = csv.reader(csv_file, delimiter=',') 
       
    # now we can use this csv files into the pandas 
    df = pd.DataFrame([csv_reader], index=None)

In [ ]:
df

2. Read the data in the first column of the DataFrame object using Python's way of reading the iterable object

In [ ]:
# iterating values of first column 
for val in list(df[1]): 
    print(val)