# How To Construct The Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

In [3]:
list = [1.0, 2.0, 0.3, 0.4, 0.5, 0.6]

In [4]:
ser_list = pd.Series(list)
ser_list

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [5]:
pd.Series([1.0, 2.0, 0.3, 0.4, 0.5, 0.6])

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [6]:
dic = {1:'A', 2:'B', 3:'C', 1:'D', 4:'E', 6:'F'}

In [7]:
ser_dic = pd.Series(dic)
ser_dic

1    D
2    B
3    C
4    E
6    F
dtype: object

In [8]:
ser_scalar = pd.Series(5, index=[1, 2, 3, 4, 5])
ser_scalar

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [9]:
ser_index = pd.Series({1:'A', 2:'B', 3:'C', 1:'D', 4:'E', 6:'F'}, index=[1, 2, 3])
ser_index

1    D
2    B
3    C
dtype: object

In [12]:
ser_csv = pd.read_csv('dataset/Marks_list.csv')
ser_csv

  Student_Name   Sub1   Sub2   Sub3   Sub4   Sub5   Sub6
0     Student1     25     10     10     15     15     16
1     Student2     23     15     15     15     15     17
2     Student3     21     11     12     16     15     19
3     Student4     22     12     15     12     18     15
4     Student5     21     15     16     16     17     18
5     Student6     20     18     17     18     16     17
6     Student7     20     19     18     13     17     19
7     Student8     22     20     15     17     18     20
8     Student9     21     22     14     18     16     23
9    Student10     15     20     15     19     17     25

In [28]:
ser_csv['Student_Name']

0     Student1
1     Student2
2     Student3
3     Student4
4     Student5
5     Student6
6     Student7
7     Student8
8     Student9
9    Student10
Name: Student_Name, dtype: object

In [30]:
print(type(ser_csv))
print(type(ser_csv['Student_Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>